@mixin transition($property, $time) {
	-webkit-transition: $property $time ease;
	-moz-transition: $property $time ease;
	-ms-transition: $property $time ease;
	-o-transition: $property $time ease;
	transition: $property $time ease;
}

.container {
	padding:0;
}
input[type="text"] {
    display: block;
    margin:0 auto;
    border:1px solid #bbb;
    margin-bottom: 10px;
    
}
.view {
	position: absolute;
	top:0;
	width: 100%;
    text-align:center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
    padding:15px;
}

.elements-wrapper {
	position:relative;
}

.connect-view {
    z-index: 1;

    .elements-wrapper {
    	height: 10vh;	
    }
    button, input {
		width: 40vw;
		margin: 0 auto;
		opacity: 1;
	}
    
	button {

	}
	
}
.control-view {
	z-index: 1;
	.navigation {
		padding: 50px 30px;
		margin:20px 0;
	}
	.navigation.left {
		float:left;
	}
	.navigation.right {
		float:right;
	}
	.coupon-button {
		display: none;
	}
}
.coupon-view {
	z-index: 1;
	background-color:#fff;
	.elements-wrapper {
		height: 30vh;
	}
	text-align:center;
	.warning {
		border-color: red;
		color: red;
	}
}
.photo-view {
	z-index: 1;
	background-color: rgba(255,255,255, 0.8);
	.photo {
		height: 80vh;
		width:100%;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
.loader-view {
	background-color: rgba(255,255,255,1);
	opacity:1;
	z-index:999;

}